.EditForm {
    width: 100%;

    input {
        font-family: 'Helvetica' !important;
    }

    .form-input {
        margin: 0 0 1em !important;
    }

    .submit-row {
        margin-top: 1em;
    }

    .submit-button {
        width: 100%;
        margin: 0 0.5em;
    }
}