.TimeEntry {
    display: flex;

    @media (max-width:600px)  {
        p {
            margin-bottom: 0;
        }
    }

    &.active {
        background: #ff6f5e;
        color: #fff;

        &.edit {
            background: #fff;
            color: unset;
        }

        .meta-data-container {
            .meta-data {
                .category {
                    color: #0c00ad;
                }
            }
        }

        .time-container {
            .time {
                color: black;
            }

            .actions-header > i {
                margin-left: 1em;
            }
        }

        .title {
            color: black;
        }
    }

    &.edit {
        .edit-form {
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        .edit-task, .edit-project {
            flex: 0 0 48%;
        }

        .edit-notes {
            flex: 1;
            margin: 20px 0 0;
            line-height: 2.5;
            border-radius: 4px;
            border: 1px solid #cccccc;
            padding: 0 10px;
            font-size: 1em;
        }
    }

    .entry-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .meta-data-container {
        position: relative;
        flex: 1;

        .title {
            position: absolute;
            bottom: 0;
            font-weight: 400;
            font-size: 18px;
            margin: 10px 0 0;

            @media (max-width:600px)  {
                position: relative;
                bottom: unset;
            }
        }

        .meta-data {
            font-size: 14px;

            span {
                &.category {
                    color: dodgerblue;
                }
            }
        }
    }

    .time-container {
        text-align: right;

        .actions-header {
            .delete, .edit {
                display: inline;
            }
        }

        .date {
            margin-right: 10px;
        }

        .time {
            font-size: 22px;
            color: #ff6f5e;
            margin: 10px 0 0;

            i {
                font-size: 0.9em;
            }
        }
    }
}