* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app-container {
    background: #ededed;
}

.tab-container {
    margin-bottom: 20px;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
}

.full {
    width: 100% !important;
}

.pipes {
    & > span {
        &:after {
            content: '|';
            color: #000;
            margin: 0 5px;
        }

        &:last-of-type {
            &:after {
                content: none;
            }
        }
    }
}