.Entry {
    display: flex;
    justify-content: space-between;

    &.active {
        background: #ff6f5e;
        color: #fff;

        .meta-data-container {
            .meta-data {
                .category {
                    color: #0c00ad;
                }
            }
        }

        .time-container {
            .time {
                color: black;
            }
        }

        .title {
            color: black;
        }
    }

    .meta-data-container {
        position: relative;
        flex: 1;

        .title {
            position: absolute;
            bottom: 0;
            font-weight: 400;
            font-size: 18px;
            margin: 10px 0 0;
        }

        .meta-data {
            font-size: 14px;

            span {
                &.category {
                    color: dodgerblue;
                }
            }
        }
    }

    .time-container {
        text-align: right;

        .time {
            font-size: 22px;
            color: #ff6f5e;
            margin: 10px 0 0;
        }
    }
}