.Form {
    width: 100%;

    input {
        font-family: 'Helvetica' !important;
    }

    .form-input {
        margin: 0 0 1em !important;
    }

    .submit-row {
        display: flex;
        justify-content: center;
        margin: 1em 0.5em 0;
    }

    .submit-button {
        margin: 0 0.5em;
    }
}
