version: '3'
services:
  harvest-app:
    build:
      context: ../.
      dockerfile: docker/harvest-app/Dockerfile.dev
    links:
      - api:api
      - client:client
  client:
    build:
      context: ../.
      dockerfile: docker/client/Dockerfile.dev
    image: harvest-client
    environment:
      - NODE_ENV=development
    volumes:
      - ../client:/app
      - /app/node_modules
    ports:
      - '3000:3000'
  api:
    environment:
      - NODE_ENV=development
