.App {
    min-height: 100vh;
    padding: 10px;
    max-width: 800px;
    margin: 0 auto;

    * {
        font-family: 'Helvetica';
    }

    .app-title {
        padding: 10px 0;
    }
}

.app-navbar{
    background-color: #3f51b5;
    padding: 1rem 2rem;
    color: #fff;
}